@model KanbanBoard.Models.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

@foreach (var project in Model.projects)
{
<script>
    $(function () {
        $("#@project.ProjectName-Open, #@project.ProjectName-Development, #@project.ProjectName-Testing, #@project.ProjectName-Closed").sortable({
            connectWith: "#@project.ProjectName-Open, #@project.ProjectName-Development, #@project.ProjectName-Testing, #@project.ProjectName-Closed",
            dropOnEmpty: true,
            update: function (event, ui) {
                if (this === ui.item.parent()[0]) {
                    //TODO: BE ABLE TO CHANGE ORDER OF THE ISSUES IN THE SAME STATE. USE THE EXEMPLE BELOW
                    //($(this).sortable('serialize'));

                        $.ajax({
                            data: { 'item': ui.item.attr('id'), 'to' : ui.item.parent()[0].id },
                            type: 'POST',
                            url: '/DashBoard/Actualize'
                        });
                }
            }
        });
    });
</script>
}

<div class="row">
    <div class="col-md-4 col-lg-3 col-xl-2 text-center">
        <a class="btn btn-primary btn-lg mb-0 col-sm-12" asp-controller="Issue" asp-action="Create">Create new issue</a>
        @if (User.HasClaim(c=>c.Type=="Role"&&c.Value=="Manager"))
        {
        <a class="btn btn-primary btn-lg mt-4 mb-0 col-sm-12" asp-controller="Projects" asp-action="Create">Create new project</a>        
        }
        <hr />
        <button class="filter btn btn-info mb-3" data-toggle="collapse" data-target="#filter">
            Filters
        </button>
        <div id="filter" class="collapse padding">
            <form method="post" asp-controller="Dashboard" asp-action="Index">
                <div>
                    <h4 class="text-left">Projects:</h4>
                </div>
                <div class="text-left">
                    @foreach (var project in Model.allProjects)
                    {
                        <label>@project.projectName</label>
                        <input name="filter.projectFilter" type="checkbox" value="@project.projectName" checked="@project.isChecked" /><br />
                    }
                </div>
                <div>
                    <h4 class="text-left">Priority:</h4>
                </div>
                <div class="text-left">
                    @foreach (var priority in Model.allPriorities)
                    {
                        <label>@priority.priorityName</label>
                        <input name="filter.priorityFilter" type="checkbox" value="@priority.priorityName" checked="@priority.isChecked" /><br />
                    }
                </div>
                <button class="btn btn-primary btn-lg">Apply filters</button>
            </form>

        </div>
    </div>
    <div class="vl col-md-8 col-lg-9 col-xl-10">
        <button class="testez btn btn-secondary" data-toggle="collapse" data-target="#backlog">
            Open Backlog
            <i class="fas fa-chevron-down"></i>
        </button>
        <div id="backlog" class="collapse padding">
            <div class="container-fluid padding">
                <div class="row padding">
                    @foreach (var issue in Model.issues.Where(i => i.State.Name == "Backlog"))
                    {
                    <div class="card cardbacklog border-dark">
                        <div class="card-header">
                            <i class="fas fa-exclamation-circle priority-@issue.Priority.Name.ToLower()"></i>
                            <a>ID: @issue.ID</a>
                            <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.ID"> <i class="fas fa-edit float-right"></i></a>
                        </div>
                        <div class="card-body text-dark">
                            @*<h5 class="card-title">Dark card title</h5>*@
                            <div class="card-text"><small>@issue.Summary</small></div>
                        </div>
                        <div class="card-header">
                            <div class="float-right">
                                <i class="far fa-clock"></i> @issue.EstimatedEffort h
                            </div>
                        <div>
                            <a class="float-right btn btn-info btn-sm" asp-controller="DashBoard" asp-action="MoveIssueToBoard" asp-route-id="@issue.ID">Open</a>
                        </div>
                            <div class="float-left">@issue.AssignedUser.UserName</div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <hr />

        @foreach (var project in Model.projects)
        {<div class="container-fluid padding">

                <button class="testez btn btn-secondary" data-toggle="collapse" data-target="#@project.ProjectName">
                    @project.ProjectName
                    <i class="fas fa-chevron-down"></i>
                </button>
                <div id="@project.ProjectName">
                    <div class="row padding">
                        <div class="col-6 col-lg-4 col-xl-3 vl-right">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5>
                                        Open
                                    </h5>
                                    <hr />
                                </div>
                            </div>
                            <div id="@(project.ProjectName+"-Open")" class="full-width-height">
                                @foreach (var issue in project.Tasks.Where(i => i.State.Name == "Open"))
                                {
                                <div id="@(project.ProjectName+"-"+issue.ID)" class="card cardother border-dark">
                                    <div class="card-header">
                                        <i class="fas fa-exclamation-circle priority-@issue.Priority.Name.ToLower()"></i>
                                        <a>ID: @issue.ID</a>
                                        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.ID"> <i class="fas fa-edit float-right"></i></a>
                                    </div>
                                    <div class="card-body text-dark">
                                        @*<h5 class="card-title">Dark card title</h5>*@
                                        <div class="card-text"><small>@issue.Summary</small></div>
                                    </div>
                                    <div class="card-header">
                                        <div class="float-right">
                                            <i class="far fa-clock"></i> @issue.EstimatedEffort h
                                        </div>
                                        <div class="float-left">@issue.AssignedUser.UserName</div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-xl-3 vl-right">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5>
                                        Development
                                    </h5>
                                    <hr />
                                </div>
                            </div>
                            <div id="@(project.ProjectName+"-Development")" class="full-width-height">
                                @foreach (var issue in project.Tasks.Where(i => i.State.Name == "Development"))
                                {
                                <div id="@(project.ProjectName+"-"+issue.ID)" class="card cardother border-dark">
                                    <div class="card-header">
                                        <i class="fas fa-exclamation-circle priority-@issue.Priority.Name.ToLower()"></i>
                                        <a>ID: @issue.ID</a>
                                        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.ID"> <i class="fas fa-edit float-right"></i></a>
                                    </div>
                                    <div class="card-body text-dark">
                                        @*<h5 class="card-title">Dark card title</h5>*@
                                        <div class="card-text"><small>@issue.Summary</small></div>
                                    </div>
                                    <div class="card-header">
                                        <div class="float-right">
                                            <i class="far fa-clock"></i> @issue.EstimatedEffort h
                                        </div>
                                        <div class="float-left">@issue.AssignedUser.UserName</div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-xl-3 vl-right">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5>
                                        Testing
                                    </h5>
                                    <hr />
                                </div>
                            </div>
                            <div id="@(project.ProjectName+"-Testing")" class="full-width-height">
                                @foreach (var issue in project.Tasks.Where(i => i.State.Name == "Testing"))
                                {
                                <div id="@(project.ProjectName+"-"+issue.ID)" class="card cardother border-dark">
                                    <div class="card-header">
                                        <i class="fas fa-exclamation-circle priority-@issue.Priority.Name.ToLower()"></i>
                                        <a>ID: @issue.ID</a>
                                        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.ID"> <i class="fas fa-edit float-right"></i></a>
                                    </div>
                                    <div class="card-body text-dark">
                                        @*<h5 class="card-title">Dark card title</h5>*@
                                        <div class="card-text"><small>@issue.Summary</small></div>
                                    </div>
                                    <div class="card-header">
                                        <div class="float-right">
                                            <i class="far fa-clock"></i> @issue.EstimatedEffort h
                                        </div>
                                        <div class="float-left">@issue.AssignedUser.UserName</div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 col-xl-3 vl-right">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h5>
                                        Closed
                                    </h5>
                                    <hr />
                                </div>
                            </div>
                            <div id="@(project.ProjectName+"-Closed")" class="full-width-height">
                                @foreach (var issue in project.Tasks.Where(i => i.State.Name == "Done"))
                                    {
                                <div id="@(project.ProjectName+"-"+issue.ID)" class="card cardother border-dark">
                                    <div class="card-header">
                                        <i class="fas fa-exclamation-circle priority-@issue.Priority.Name.ToLower()"></i>
                                        <a>ID: @issue.ID</a>
                                        <a asp-controller="Issue" asp-action="Edit" asp-route-id="@issue.ID"> <i class="fas fa-edit float-right"></i></a>
                                    </div>
                                    <div class="card-body text-dark">
                                        @*<h5 class="card-title">Dark card title</h5>*@
                                        <div class="card-text"><small>@issue.Summary</small></div>
                                    </div>
                                    <div class="card-header">
                                        <div class="float-right">
                                            <i class="far fa-clock"></i> @issue.EstimatedEffort h
                                        </div>
                                        <div class="float-left">@issue.AssignedUser.UserName</div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            }
        </div>
    </div>
