@model KanbanBoard.Models.EditIssueModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var creationDate = @Model.currentIssue.StartDate.Year + "-";
    if (!(Model.currentIssue.StartDate.Month > 9))
    {
        creationDate += "0";
    }
    creationDate += @Model.currentIssue.StartDate.Month + "-";
    if (!(Model.currentIssue.StartDate.Day > 9))
    {
        creationDate += "0";
    }
    creationDate += @Model.currentIssue.StartDate.Day;
    var dueDate = @Model.currentIssue.RequestedCloseDate.Year + "-";
    if (!(Model.currentIssue.RequestedCloseDate.Month > 9))
    {
        dueDate += "0";
    }
    dueDate += @Model.currentIssue.RequestedCloseDate.Month + "-";
    if (!(Model.currentIssue.RequestedCloseDate.Day > 9))
    {
        dueDate += "0";
    }
    dueDate += @Model.currentIssue.RequestedCloseDate.Day;
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Edit Task @Model.currentIssue.ID</h1>
        <hr />
        <form asp-controller="Issue" asp-action="Edit" method="post">
            <div class="form-group">
                <label for="AssignedUser">Assigned User</label>
                <select class="form-control" id="AssignedUser" name="AssignedUser">
                    <option>@Model.currentIssue.AssignedUser.UserName</option>
                    @foreach (var user in Model.Users)
                    {
                        <option>@user.UserName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Summary">Summary</label>
                <input type="text" class="form-control" id="Summary" name="Summary" value="@Model.currentIssue.Summary">

            </div>
            <div class="form-group">
                <label for="CreationDate">Creation Date</label>
                <input type="date" name="StartDate" max="3000-12-31"
                       min="1000-01-01" class="form-control" value="@creationDate">
            </div>
            <div class="form-group">
                <label for="RequestedCloseDate">Due Date</label>
                <input type="date" name="RequestedCloseDate" max="3000-12-31"
                       min="1000-01-01" class="form-control" value="@dueDate">
            </div>


            <div class="form-group">
                <label for="State">State</label>
                <select class="form-control" id="State" name="State">
                    <option>@Model.currentIssue.State.Name</option>
                    @foreach (var states in Model.States)
                    {
                        <option>@states.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="EstimatedEffort">Estimated Effort(h)</label>
                <input type="text" class="form-control" id="EstimatedEffort" name="EstimatedEffort" value="@Model.currentIssue.EstimatedEffort">
            </div>

            <div class="form-group">
                <label for="Project">Project</label>
                <select class="form-control" id="Project" name="Project">
                    <option>@Model.currentIssue.Project.ProjectName</option>
                    @foreach (var project in Model.Projects)
                    {
                        <option>@project.ProjectName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Priority">Priority</label>
                <select class="form-control" id="Priority" name="Priority">
                    <option>@Model.currentIssue.Priority.Name</option>
                    @foreach (var priority in Model.Priorities)
                    {
                        <option>@priority.Name</option>
                    }
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg mt-2"><a class="ml-3 mr-3">Edit</a></button>
            </div>
        </form>

    </div>
</div>

